
  @import url('https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@400;700&display=swap');
  body {
    font-family: 'Proxima Nova', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
  }

  header {
    background-color: #FFC907;
    color: #003366;
    height: 20vh;$1
  }
  .main-content {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: white;
  }

  .left-column {
    flex: 1;
    min-width: 280px;
    padding: 20px;
    text-align: center;
  }

  .left-column img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  .left-column p {
    font-size: 1.1em;
    color: #003366;
    margin-bottom: 20px;
  }

  .left-column button {
    background-color: #fdd835;
    color: #003366;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }

  .right-column {
    flex: 2;
    min-width: 300px;
    padding: 20px;
    text-align: center;
  }

  $1
    width: 100vw;
    height: auto;
    max-width: none;
    border-radius: 0;
    object-fit: cover;
    display: block;
    margin: 0;
$2

  footer {
    text-align: right;
    padding: 10px 20px;
    font-size: 0.9em;
    color: #666;
  }
</style>
